@import "~@fortawesome/fontawesome-free/css/all.min.css";
body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #1a1a1a; /* Matches the Home background */
    color: #f2f3f4; /* Global text color */
    line-height: 1.6;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  button {
    font-family: inherit;
  }
  html {
    scroll-behavior: smooth;
  }
  .appContainer {
    position: relative;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #121212;
  }
  
  section {
    min-height: 100vh;
    padding: 3rem 1rem;
    color: #f2f3f4;
    position: relative;
  }
  